.coffee {
  position: relative;
  max-width: 512px;
  height: 494px;
  margin: 0 auto;
  text-align: center;
}

.coffee img {
  position: absolute;
  z-index: 1;
  margin-left: -256px;
  max-width: 512px;
  height: 494px;
  margin: 0 auto;
}

.img-scroll {
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -168px;
  overflow: hidden;
  height: 335px;
  width: 335px;
  border-radius: 175px;
}

.img-scroll .slide {
  background-image: url("../../static/slide.png");
  height: 335px;
  width: 1695px;
}

.pattern-1 {
  background-image: url("../../static/pattern-1.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  overflow: hidden;
  z-index: 0;
}

.globe {
  position: absolute;
  height: 100vw;
  opacity: 0.15;
  overflow: hidden;
  z-index: 0;
  width: 100vw;
}

.globe-1,
.globe-2,
.globe-3,
.globe-4 {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  height: 100vw;
  width: 100vw;
  z-index: 0;
}

.globe-1 {
  background-image: url("../../static/globe-1.svg");
  opacity: 0.7;
  animation: globe-1 60s infinite ease-in-out;
}

.globe-2 {
  background-image: url("../../static/globe-2.svg");
  opacity: 0.3;
  animation: globe-2 60s infinite ease-in-out;
}

.globe-3 {
  background-image: url("../../static/globe-3.svg");
  animation: globe-3 240s infinite linear;
}

.globe-4 {
  background-image: url("../../static/globe-4.svg");
  opacity: 0.5;
  animation: globe-4 300s infinite linear;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .globe {
    height: 800px;
    width: 800px;
  }

  .globe-1,
  .globe-2,
  .globe-3,
  .globe-4 {
    height: 800px;
    width: 800px;
  }
}

@keyframes globe-1 {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes globe-2 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes globe-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes globe-4 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
