@import "./variables.scss";

.nav-link-text {
  color: $color-1;
  width: 100%;
}

.link-container {
  list-style: none;
  padding: 0;
  margin: 0;

  .link-item {
    float: left;
  } 
}

.link-container .link-item a {
  display: block;
  border: none;
  background: none;
  padding: .5em 1em;
  text-decoration: none;
  flex-grow: 1;
}

.link-container .link-item a:hover {
  // background: rgb(216, 216, 216);
  background-color: $bg-color-4;
  color: $color-2;
}

.link-container .link-item .sub-link-container-1 {
  z-index: 99;
  position: absolute;
  // background-color: rgb(235, 235, 235);
  background-color: $color-2;
  // width: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 10em; 
  max-width: 20em;
}

.link-container .link-item:hover .sub-link-container-1 {
  left: auto;
  display: block;
}

.sub-link-container-1 li {
  display: flex;
  width: auto;
  border-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-link-container-1 li .sub-link-container-2 {
  z-index: 99;
  position: absolute;
  // background-color: rgb(235, 235, 235);
  background-color: $color-2;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.sub-link-container-1 li:hover .sub-link-container-2 {
  top: 0;
  right: 100%;
  width: 100%;
  display: block;
}

.sub-link-container-2 li .sub-link-container-3 {
  z-index: 99;
  position: absolute;
  // background-color: rgb(235, 235, 235);
  background-color: $color-2;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.sub-link-container-2 li:hover .sub-link-container-3 {
  top: 0;
  right: 100%;
  width: 100%;
  display: block;
}