.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  // animation: pop 2s ease forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
