$color-1: #2d3e50;
$color-2: #f4fafc;
$bg-color-1: #f4fafc;
$bg-color-2: rgba(22, 22, 22, 1);
$bg-color-3: #2d82a1;
$bg-color-4: #2da1a0;

$hover-color-1: rgb(216, 216, 216);
$hover-color-2: rgba(255, 255, 255, 0.1);