.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 0;
}

.link-conatainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}